*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegacao{
    position: relative;
    color: white;
    font-weight: bold;
    background-color: #af2020 ;
    border-radius: 1rem;
    width: fit-content;
    margin-bottom: 2rem;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}

li{
    padding: 2rem;
    line-height: 1rem;
    color: white;
}
li:hover{
    cursor: pointer;
    background-color: white;
    transform: scale(1.1);
    border-radius: 1rem;
    color: #af2020;
}