.Form{
    background: #af2020;
    margin: auto;
    border-radius: 1rem;
    padding: 2rem 8rem 2rem 8rem;
    color: white;
    width: 40%;
    margin-top: 5rem;    
}
.Form h1{
    border-bottom: 2px solid white;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 2rem;
}
.dividido{
    display: flex;
    margin: auto;
    width: 100%;
}
.dividido>div{
    width: 100%;
}
.dividido>div input,
.dividido>div select{
    width: 100%;
}