.Form{
    background: #af2020;
    width: 50vw;
    margin: auto;
    border-radius: 1rem;
    position: relative;
    padding: 1.5rem;
    padding: 2rem;
    color: white;
}
.Form h1{
    border-bottom: 2px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 2rem;
}
.dividido{
    display: flex;
    margin: auto;
    width: 50%;
}
.dividido>div{
    width: 50%;
}
.dividido>div input,
.divido>div select{
    width: 100%;
}